<div id="carouselCaptions" class="carousel slide mb-4 d-none d-lg-block" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true"
			aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="carousel-overlay"></div>
			<img src="/assets/img/carousel1.jpg" class="d-block w-100" alt="image">
			<div class="carousel-caption d-none d-md-block">
				<h5>श्रीमद्भगवद्गीता:</h5>
				<p>कर्मण्येवाधिकारस्ते मा फलेषु कदाचन।<br>मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि॥</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-overlay"></div>
			<img src="/assets/img/carousel2.jpg" class="d-block w-100" alt="image">
			<div class="carousel-caption d-none d-md-block">
				<h5>श्रीमद्भगवद्गीता:</h5>
				<p>अक्षरं ब्रह्म परमं स्वभावोऽध्यात्ममुच्यते।<br>भूतभावोद्भवकरो विसर्गः कर्मसंज्ञितः॥</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-overlay"></div>
			<img src="/assets/img/carousel3.jpg" class="d-block w-100" alt="image">
			<div class="carousel-caption d-none d-md-block">
				<h5>श्रीमद्भगवद्गीता:</h5>
				<p>उद्धरेदात्मनाऽत्मानं नात्मानमवसादयेत्।<br>आत्मैव ह्यात्मनो बन्धुरात्मैव रिपुरात्मनः॥</p>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>