<footer>
    <div class="container">
        <p class="p-3 text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores itaque animi, nam dolor
            quasi est numquam ipsa
            accusantium facilis exercitationem obcaecati quis similique repellendus ut rerum repudiandae suscipit nobis.
            Omnis est molestias aperiam earum expedita consequuntur aliquid quasi ipsum maiores fugiat. Optio sit
            corporis
            provident, repudiandae quas quos blanditiis cupiditate sint veritatis unde autem magni esse libero, dolores,
            vitae necessitatibus!</p>
    </div>
</footer>