<!-- Footer -->

<footer class="row mt-4 align-items-center justify-content-center">
    <div class="col-md-10 d-flex flex-column align-items-center py-3">
        <div class="col-2 d-flex justify-content-evenly">
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-github"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-whatsapp"></i></a>
            <a href=""><i class="bi bi-telegram"></i></a>
            <a href=""><i class="bi bi-envelope-fill"></i></a>
        </div>

        <div class="d-flex">
            <span>
                अभिकल्पना एवं निर्माण: गुरु कृपा से शिष्य मोहित सिंह &commat;
                <a href="https://github.com/mohitlabs" class="text-decoration-none">MohitLabs</a>
            </span>
        </div>

        <!-- Subscribe for Newsletter -->
        <!-- <i class="bi bi-youtube"></i>
        <i class="bi bi-skype"></i>
        <i class="bi bi-slack"></i>
        <i class="bi bi-stack-overflow"></i>
        <i class="bi bi-discord"></i>
        <i class="bi bi-quora"></i>
        <i class="bi bi-reddit"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-facebook"></i> -->
    </div>
</footer>