<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between px-lg-3 py-3">
    <a href="/" class="col-lg-3 d-flex align-items-center justify-content-center text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="MohitLabs Logo">
            <use xlink:href="#" />
        </svg> -->
        <strong class="text-white ms-3">MOHITLABS</strong>
    </a>

    <ul class="nav col-12 col-lg-auto justify-content-center">
        <li><a href="#" class="nav-link text-white">PROJECTS</a></li>
        <li><a href="#" class="nav-link text-white">RESEARCH</a></li>
        <li><a href="#" class="nav-link text-white">BLOG</a></li>
        <li><a href="#" class="nav-link text-white">BOOK AN APPOINTMENT</a></li>
        <li><a href="#" class="nav-link text-white">ABOUT/CONTACT</a></li>
    </ul>

    <div class="col-lg-3 d-flex flex-row">
        <form class="text-end input-group me-3">
            <input type="search" class="form-control" placeholder="SEARCH SOMETHING..." aria-label="Search"
                aria-describedby="">
            <button type="button" class="btn input-group-append border"><i class="bi bi-search"></i></button>
        </form>
        <button id="toggle-theme-btn" class="btn border rounded-circle" title="Toggle Light Mode">
            <i id="moon-icon" class="bi bi-moon-stars"></i>
            <i id="sun-icon" class="bi bi-sun"></i>
        </button>
    </div>
</header>