<header class="bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between px-lg-3 py-3">
    <a href="/" class="col-lg-2 d-flex align-items-center  justify-content-center text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="MohitLabs Logo">
            <use xlink:href="#" />
        </svg> -->
        <strong class="text-white">MohitLabs</strong>
    </a>

    <ul class="nav col-12 col-lg-auto justify-content-center">
        <li><a href="#" class="nav-link px-3 text-white fw-bold rounded-3">Projects</a></li>
        <li><a href="#" class="nav-link px-3 text-white fw-bold rounded-3">Blog</a></li>
        <li><a href="#" class="nav-link px-3 text-white fw-bold rounded-3">Book An Appointment</a></li>
        <li><a href="#" class="nav-link px-3 text-white fw-bold rounded-3">About</a></li>
        <li><a href="#" class="nav-link px-3 text-white fw-bold rounded-3">FAQs</a></li>
    </ul>

    <form class="col-lg-3 text-end input-group">
        <input type="search" class="form-control form-control-dark" placeholder="Search Something..."
            aria-label="Search" aria-describedby="">
        <button type="button" class="btn btn-dark input-group-append border-secondary"><i class="bi bi-search"></i></button>
    </form>
</header>