<!-- Navigation Bar -->

<nav class="collapse d-md-block sticky-md-top col-lg-8 mx-auto px-4 mb-4" id="navbarSupportedContent">
    <ul class="nav shadow">
        <li class="flex-fill nav-item {% if page.permalink == '/' %}active{% endif %}"><a
                class="d-flex justify-content-center nav-link" href="/"><b>मुखपृष्ठ</b></a></li>
        <li class="flex-fill nav-item {% if page.permalink == '/blog' %}active{% endif %}"><a
                class="d-flex justify-content-center nav-link" href="/blog"><b>लेख</b></a>
        <li class="flex-fill nav-item {% if page.permalink == '/experience' %}active{% endif %}"><a
                class="d-flex justify-content-center nav-link" href="/experience"><b>साधकों के अनुभव</b></a>
        <li class="flex-fill nav-item {% if page.permalink == '/appointment' %}active{% endif %}"><a
                class="d-flex justify-content-center nav-link" href="/appointment"><b>भेंट हेतु समय प्राप्त करें</b></a></li>
        <li class="flex-fill nav-item {% if page.permalink == '/about' %}active{% endif %}"><a
                class="d-flex justify-content-center nav-link" href="/about"><b>गुरुकुल का परिचय</b></a>
        </li>
    </ul>
</nav>