<nav id="navBarTabs" class="navBar d-flex flex-wrap justify-content-center p-3">
    <button class="px-5">PROJECTS</button>
    <button class="px-5">RESEARCH</button>
    <button class="px-5">BLOG</button>
    <button class="px-5">BOOK AN APPOINTMENT</button>
    <button class="px-5">ABOUT/CONTACT</button>
</nav>

<!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-projects-tab" data-bs-toggle="tab" data-bs-target="#nav-projects"
            type="button" role="tab" aria-controls="nav-projects" aria-selected="true">PROJECTS</button>
        <button class="nav-link" id="nav-research-tab" data-bs-toggle="tab" data-bs-target="#nav-research" type="button"
            role="tab" aria-controls="nav-research" aria-selected="false">RESEARCH</button>
        <button class="nav-link" id="nav-blog-tab" data-bs-toggle="tab" data-bs-target="#nav-blog" type="button"
            role="tab" aria-controls="nav-blog" aria-selected="false">BLOG</button>
        <button class="nav-link" id="nav-appointment-tab" data-bs-toggle="tab" data-bs-target="#nav-appointment"
            type="button" role="tab" aria-controls="nav-appointment" aria-selected="false">BOOK AN APPOINTMENT</button>
        <button class="nav-link" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about" type="button"
            role="tab" aria-controls="nav-about" aria-selected="false">ABOUT/CONTACT</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">A
    </div>
    <div class="tab-pane fade" id="nav-research" role="tabpanel" aria-labelledby="nav-research-tab">B</div>
    <div class="tab-pane fade" id="nav-blog" role="tabpanel" aria-labelledby="nav-blog-tab">C</div>
    <div class="tab-pane fade" id="nav-appointment" role="tabpanel" aria-labelledby="nav-appointment-tab">D</div>
    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">E</div>
</div> -->