// Define Color Palettes Here

// Palette 1
$Primary: #c10206;
$PrimaryVariant: #a50113;
$Background: #010a10;
$OnBackground: #211d21;
$Surface: #dfe2db;
$OnSurface: #fffbf2;

// // Palette 2
// $Primary: #ff0000;
// $PrimaryVariant: #990000;
// $Background: #000000;
// $OnBackground: #666666;
// $Surface: #dfe2db;
// $OnSurface: #ffffff;

// Palette 3
// $Primary: #be00c5;
// $PrimaryVariant: #5e38cf;
// $Surface: #e5cb0e;
// $OnSurface: #97002b;
// $Background: #ffffff;