// Define Color Palettes Here

// Palette 1
$Primary: #c10206;
$PrimaryVariant: #a50113;
$Background: #010a10;
$OnBackground: #211d21;
$Surface: #dfe2db;
$OnSurface: #fffbf2;

// // Palette 2
// $Primary: #211d21;
// $OnPrimary: #c10206;
// $PrimaryVariant: #010a10;
// $Secondary: #dfe2db;
// $OnSecondary: #a50113;
// $SecondaryVariant: #fffbf2;

// // Palette 3
// $Primary: #666666;
// $OnPrimary: #ff0000;
// $PrimaryVariant: #000000;
// $Secondary: #dfe2db;
// $OnSecondary: #990000;
// $SecondaryVariant: #ffffff;

// Palette 4
