// Dark Theme
$Primary: #ffb4a8;
$OnPrimary: #690100;
$PrimaryVariant: #252525;
$Secondary: #e7bdb6;
$OnSecondary: #442925;
$SecondaryVariant: #00ff00;

// Light Theme
$Primary: #c00100;
$OnPrimary: #ffffff;
$PrimaryContainer: #ffdad4;
$OnPrimaryContainer: #410000;
$Secondary: #775651;
$OnSecondary: #ffffff;
$SecondaryContainer: #ffdad4;
$OnSecondaryContainer: #2c1512;
$Tertiary: #705c2e;
$OnTertiary: #ffffff;
$TertiaryContainer: #fbdfa6;
$OnTertiaryContainer: #251a00;
$Error: #ba1a1a;
$Background: #fffbff;
$OnBackground: #201a19;
$Surface: #fffbff;
$OnSurface: #201a19;
$SurfaceVariant: #f5ddda;
$OnSurfaceVariant: #534341;
$Outline: #857370;
