@import "typography";
@import "colors";

$themes: (
    dark: (
        Background: $Background,
        OnBackground: $OnBackground,
        Surface: $Surface,
        OnSurface: $OnSurface,
        FontFamily: $FontFamily,
        FontWeight: $FontWeight,
        FontSize: $FontSize,
    ),
    light: (
        Background: $Surface,
        OnBackground: $OnSurface,
        Surface: $Background,
        OnSurface: $OnBackground,
        FontFamily: $FontFamily,
        FontWeight: $FontWeight,
        FontSize: $FontSize,
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
