@import "themes";

header {
    background-color: $Primary;
}

header a strong {
    text-transform: uppercase;
    font-size: larger;
}

header form .form-control {
    background-color: $Primary;
}

header form .form-control:hover {
    transition-property: background-color;
    transition-duration: 300ms;
    background-color: $PrimaryVariant;
}

header form .form-control:focus {
    background-color: $PrimaryVariant;
}

header form .btn:hover {
    transition-duration: 300ms;
    background-color: $PrimaryVariant;
}

.navbar {
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn {
    background-color: $Primary;
}

.btn:hover {
    background-color: $Primary;
    box-shadow: 0 0 17px $Primary;
}

.btn:active {
    background-color: $PrimaryVariant !important;
}

#moon-icon {
    display: block;
}

#sun-icon {
    display: none;
}

#toggle-theme-checkbox:checked ~ #moon-icon {
    display: none;
}

#toggle-theme-checkbox:checked ~ #sun-icon {
    display: block;
}

nav ul li {
    background-color: $Primary;
}

nav ul li:hover {
    transition-duration: 300ms;
    background-color: $PrimaryVariant;
}

nav ul .active {
    background-color: $PrimaryVariant;
}

footer {
    background-color: $Primary;
}
