html,
body {
	transition-property: background-color !important;
	transition-duration: 1s;
	background-color: var(--Background);
	font-family: var(--FontFamily);
	font-weight: var(--FontWeight);
	line-height: var(--LineHeight);
	letter-spacing: var(--LetterSpacing);
	font-feature-settings: var(--FontFeatureSettings);
}

a,
i,
span,
.form-control::placeholder,
.card-header {
	color: #fffbf2 !important;
}

a:hover {
	color: #dfe2db !important;
}

.form-control,
.form-control:focus {
	color: var(--OnBackground);
	border-color: var(--OnBackground);
}

header .btn {
	border-color: var(--OnBackground) !important;
}

.card-body {
	background-color: var(--OnBackground);
	color: var(--OnSurface);
}

section .card-header {
	background-color: var(--Primary);
}

section .row .card:hover {
	box-shadow: 0 0 17px var(--Primary);
}

section .row .card-body {
	background-color: var(--Background);
	color: var(--Surface);
}

section .row .card-img-top {
	background-color: var(--Background);
	color: var(--Surface);
}

section .row .card-footer {
	background-color: var(--Background);
	color: var(--Surface);
}

header {
	background-color: var(--Primary);
}

header form .form-control {
	background-color: var(--Primary);
}

header form .form-control:hover {
	transition-property: background-color;
	transition-duration: 300ms;
	background-color: var(--PrimaryVariant);
}

header form .form-control:focus {
	background-color: var(--PrimaryVariant);
}

header form .btn:hover {
	transition-duration: 300ms;
	background-color: var(--PrimaryVariant);
}

.navbar {
	padding: 0;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.btn {
	background-color: var(--Primary);
}

.btn:hover {
	background-color: var(--Primary);
	box-shadow: 0 0 17px var(--Primary);
}

.btn:active {
	background-color: var(--PrimaryVariant) !important;
}

#moon-icon {
	display: block;
}

#sun-icon {
	display: none;
}

#toggle-theme-checkbox:checked~#moon-icon {
	display: none;
}

#toggle-theme-checkbox:checked~#sun-icon {
	display: block;
}

nav ul li {
	background-color: var(--Primary);
}

nav ul li:hover {
	transition-duration: 300ms;
	background-color: var(--PrimaryVariant);
}

nav ul .active {
	background-color: var(--PrimaryVariant);
}

footer {
	background-color: var(--Primary);
}

.greet p {
	font-size: clamp(2.5rem, 5vw, 5rem);
	border-right: 5px solid;
	color: var(--Surface);
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	animation: cursor 0.5s step-end infinite alternate, typing 2s steps(12) infinite alternate;
}

/* Cursor Blinking Effect */
@keyframes cursor {
	50% {
		border-color: transparent;
	}
}

/* Typing Effect */
@keyframes typing {

	0%,
	30% {
		width: 0ch;
	}

	70%,
	100% {
		width: 50%;
	}
}