@use "base";

.greet {
    display: inline-block;
}

.greet p {
    font-size: 5em;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        cursor .5s step-end infinite alternate,
        typing 2s steps(12) infinite alternate;
}

/* Cursor Blinking Effect */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

/* Typing Effect */
@keyframes typing {

    0%,
    30% {
        width: 0ch;
    }

    70%,
    100% {
        width: 50%;
    }
}