html,
body {
	transition-property: background-color !important;
	transition-duration: 1s;
	background-color: var(--Background);
	font-family: var(--FontFamily);
	font-weight: var(--FontWeight);
	line-height: var(--LineHeight);
	letter-spacing: var(--LetterSpacing);
	font-feature-settings: var(--FontFeatureSettings);
}

a,
i,
span,
.form-control::placeholder,
.card-header,
.card-footer {
	color: #fffbf2 !important;
}

a:hover {
	color: #dfe2db !important;
}

.form-control,
.form-control:focus {
	color: var(--OnBackground);
	border-color: var(--OnBackground);
}

.card-body {
	background-color: var(--OnBackground);
	color: var(--OnSurface);
}

.card-header,
.card-footer {
	background-color: var(--Primary);
}

.card .row .card:hover {
	box-shadow: 0 0 17px var(--Primary);
}

.card .row .card-body {
	background-color: var(--Background);
	color: var(--Surface);
}

.card .row .card-img-top {
	background-color: var(--Background);
	color: var(--Surface);
}

.card .row .card-footer {
	background-color: var(--Background);
	color: var(--Surface);
}

header {
	background-color: var(--Primary);
}

header form .form-control {
	background-color: var(--Primary);
}

header form .form-control:hover {
	transition-property: background-color;
	transition-duration: 300ms;
	background-color: var(--PrimaryVariant);
}

header form .form-control:focus {
	background-color: var(--PrimaryVariant);
}

header form .btn:hover {
	transition-duration: 300ms;
	background-color: var(--PrimaryVariant);
}

.navbar {
	padding: 0;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.btn {
	background-color: var(--Primary);
}

.btn:hover {
	background-color: var(--Primary);
	box-shadow: 0 0 17px var(--Primary);
}

.btn:active {
	background-color: var(--PrimaryVariant) !important;
}

#moon-icon {
	display: block;
}

#sun-icon {
	display: none;
}

#toggle-theme-checkbox:checked~#moon-icon {
	display: none;
}

#toggle-theme-checkbox:checked~#sun-icon {
	display: block;
}

nav ul li {
	background-color: var(--Primary);
}

nav ul li:hover {
	transition-duration: 300ms;
	background-color: var(--PrimaryVariant);
}

nav ul .active {
	background-color: var(--PrimaryVariant);
}

.carousel-item img {
	width: 100%;
	height: 70vh;
	object-fit: cover;
}

.carousel-overlay {
	position: absolute;
	inset: 0;
	background: radial-gradient(circle,
			rgba(0, 0, 0, 0.25),
			rgba(0, 0, 0, 0.7));
	z-index: 1;
}

.carousel-caption {
	z-index: 2;
}

.carousel-caption h5,
p {
	text-shadow: 0 3px 12px rgba(0, 0, 0, 0.7);
}

footer {
	background-color: var(--Primary);
}

.greet p {
	font-family: "Noto Sans Devanagari", sans-serif;
	font-size: clamp(2rem, 6vw, 5rem);
	color: var(--Surface);

	position: relative;
	display: inline-block;

	white-space: nowrap;
	overflow: hidden;

	max-width: 0;
	animation: typing 2.5s steps(30, end) infinite alternate;
}

/* Node Border */
pre.mermaid .node rect {
	fill: transparent !important;
	stroke: var(--Surface) !important;
	stroke-width: 2px !important;
	rx: 30;
	ry: 30;
}

/* Node Text */
pre.mermaid .node p {
	color: var(--Surface) !important;
	font-size: larger;
}

/* Edge */
pre.mermaid path.flowchart-link {
	stroke: var(--Surface) !important;
	stroke-width: 2px !important;
}

/* Arrow Marker Path */
pre.mermaid marker {
	overflow: visible !important;
}

/* Arrow Marker */
pre.mermaid marker path {
	fill: var(--Surface) !important;
	stroke: var(--Surface) !important;
	transform-box: fill-box;
	transform-origin: center;
	transform: matrix(1.5, 0, 0, 1.5, -5, 0);
}

/* Cursor */
.greet p::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: clamp(2px, 0.4vw, 4px);
	background: currentColor;
	animation: blink 1s step-end infinite;
}

/* Mobile Optimization */
@media (max-width: 640px) {
	.greet p {
		animation-duration: 2.5s;
	}
}

/* Typing Effect */
@keyframes typing {

	0%,
	20% {
		max-width: 0;
	}

	80%,
	100% {
		max-width: 100%;
	}
}

/* Cursor Blinking Effect */
@keyframes blink {
	50% {
		opacity: 0;
	}
}