<!doctype html>
<html lang="hi">

{%- include head.html -%}

<body class="container-fluid d-none">

    <!-- Header -->
    {%- include header.html -%}

    <!-- Navigation Bar -->
    {%- include navbar.html -%}

    <div class="row min-vh-100 g-0">

        <!-- Left Sidebar -->
        <aside class="d-none d-lg-flex col-lg-2">
        </aside>

        <!-- Page Content -->
        <main class="page-content col-lg-8 px-4">
            {{ content }}
        </main>

        <!-- Right Sidebar -->
        <aside class="d-none d-lg-flex col-lg-2">
        </aside>

    </div>

    <!-- Footer -->
    {%- include footer.html -%}

    {%- include script.html -%}

</body>

</html>